@import "theme";

.global-main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-layout-width {
  width: @globalWidth;
}

.global-box-column-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.bg-blue {
  background: yellow;
}

.bg-gray {
  background: @colorGray;
}

//=================================文字样式=========================================
.global-font-smaller {
  font-size: @globalFontSmaller;
}

.global-font-small {
  font-size: @globalFontSmall;
}

.global-font-normal {
  font-size: @globalFontNormal;
}

.global-font-big {
  font-size: @globalFontBig;
}

.global-font-bigger {
  font-size: @globalFontBigger;
}

//============================dark===============================
.global-font-smaller-dark:extend(.global-font-smaller) {
  color: @globalBlack;
}

.global-font-small-dark:extend(.global-font-small) {
  color: @globalBlack;
}

.global-font-normal-dark:extend(.global-font-normal) {
  color: @globalBlack;
}

.global-font-big-dark:extend(.global-font-big) {
  color: @globalBlack;
}

.global-font-bigger-dark:extend(.global-font-bigger) {
  color: @globalBlack;
}

//===========================light dark=========================
.global-font-smaller-light-dark:extend(.global-font-smaller) {
  color: @globalLightBlack;
}

.global-font-small-light-dark:extend(.global-font-small) {
  color: @globalLightBlack;
}

.global-font-normal-light-dark:extend(.global-font-normal) {
  color: @globalLightBlack;
}

.global-font-big-light-dark:extend(.global-font-big) {
  color: @globalLightBlack;
}

.global-font-bigger-light-dark:extend(.global-font-bigger) {
  color: @globalLightBlack;
}

//===============================gray==============================
.global-font-smaller-extra-light-dark:extend(.global-font-smaller) {
  color: @globalExtraLightBlack;
}

.global-font-small-extra-light-dark:extend(.global-font-small) {
  color: @globalExtraLightBlack;
}

.global-font-normal-extra-light-dark:extend(.global-font-normal) {
  color: @globalExtraLightBlack;
}

.global-font-big-extra-light-dark:extend(.global-font-big) {
  color: @globalExtraLightBlack;
}

.global-font-bigger-extra-light-dark:extend(.global-font-bigger) {
  color: @globalExtraLightBlack;
}

//==============================white==============================

.global-font-smaller-white:extend(.global-font-smaller) {
  color: @globalWhite;
}

.global-font-small-white:extend(.global-font-small) {
  color: @globalWhite;
}

.global-font-normal-white:extend(.global-font-normal) {
  color: @globalWhite;
}

.global-font-big-white:extend(.global-font-big) {
  color: @globalWhite;
}

.global-font-bigger-white:extend(.global-font-bigger) {
  color: @globalWhite;
}

//================================blue=============================
.global-font-smaller-blue:extend(.global-font-smaller) {
  color: @globalBlue;
}

.global-font-small-blue:extend(.global-font-small) {
  color: @globalBlue;
}

.global-font-normal-blue:extend(.global-font-normal) {
  color: @globalBlue;
}

.global-font-big-blue:extend(.global-font-big) {
  color: @globalBlue;
}

.global-font-bigger-blue:extend(.global-font-bigger) {
  color: @globalBlue;
}

//===========================red=====================================

.global-font-smaller-red:extend(.global-font-smaller) {
  color: @globalRed;
}

.global-font-small-red:extend(.global-font-small) {
  color: @globalRed;
}

.global-font-normal-red:extend(.global-font-normal) {
  color: @globalRed;
}

.global-font-big-red:extend(.global-font-big) {
  color: @globalRed;
}

.global-font-bigger-red:extend(.global-font-bigger) {
  color: @globalRed;
}

