@import "theme";

.base-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base-layout-content {
  min-width: 1200pt;
}
.bg-blue{
  background: yellow;
}

.bg-gray{
  background: @colorGray;
}
